.img{
    width: 90%;
    height: 50%;
    max-height: 100vh;
}

.imgSlider{
    min-width: 100%;
    height: 650px;
}
.Blog {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }