.mainContent{
     width: 100%;
     display: flex;
     align-items: center;
     /* height: 100vh; */
     overflow: hidden;
}

.sidebar{
    width: 16%;
}
.content{
width: 135%;
min-height: 100vh;
padding:16px
}

.fullContent{
width: 100%;
min-height: 100vh;
}

.fullContent .custom-switch{
 padding-left: 0px;
}