.registrationbox{
	position:absolute;  
	left:50%;
	top:2050%;
	transform: translate(-50%,-50%);
	background-color: rgba(231, 82, 82, 0.89);
	background: none;
	border-radius:3px;
	padding:70px 100px;
}
.error {
	color: red;
	}
body {
	color: #fff;
	background: #969fa4;
	font-family: 'Roboto', sans-serif;
}

.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 750px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	/* margin-bottom: 30px; */
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: -10px;
	display: flex;
	width: 100%;
}

/* .signup-form .row div:first-child {
	padding-right: 14px;
	padding-left: 16px
}
.signup-form .row div:last-child {
	padding-left: 38px;
	padding-left: 10px;
}    	 */
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
} 
.signup-form .btn {        
	font-size: 16px;
	min-width: 140px;
	margin: 8px !important;
	outline: none !important;
} 
.leftSide {
	width: 50%;
	padding-right: 8px;
}
.rightSide {
	width: 50%;
	padding-left: 8px;
}
.country {
	padding-top: 11px;
	width: 50%;
	padding-left: 8px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.state{
	padding-top: 15px;
	width: 50%;
	padding-right: 8px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox{
	padding-top: 20px;
	display: flex;
}
.address{
	margin-top: -15px;
}
